<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDAO">

    <select id="selectAll" resultType="User">
        select * from t_user
        limit ${(page-1)*rows},#{rows}
    </select>
    <select id="All" resultType="User">
        select * from t_user
    </select>

    <update id="update">
        update t_user
        <set>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="salt != null">
                salt = #{salt},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="law_name != null">
                law_name = #{law_name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="sign != null">
                sign = #{sign},
            </if>
            <if test="crea_date != null">
                crea_date = #{crea_date},
            </if>
            <if test="guru_id != null">
                guru_id = #{guru_id},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="totalcounts" resultType="Integer">
        select count(*) from t_user
    </select>

</mapper>